ion-card {
    img {
        width: 70%;
        height: 70%;
    }
}

ion-toolbar {
    --padding-bottom: 20px;
}

.gift-container {
    margin-top: 10px;
    margin-left: 8px;
}

.gift-mark-title {
    p {
        font-family: 'Nunito';
        font-size: 15px;
        color: gray;
    }
}

.gift-name-title {
    p {
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 600;
        margin-top: -5px;
    }
}

.points-holder {
    p {
        font-family: 'Nunito';
        margin-top: -10px;
        font-size: 14px;
        font-weight: 600;

    }
}

.btn-holder {
    text-align: right;
    margin-top: 5px;
}

ion-accordion {
    margin-top: 20px;
}

.gift-description {
    p {
        line-height: 1.3;
    }
}

.quantity-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
    font-size: 15px;
    font-family: 'Nunito';
}

.btn-add-to-cart {
    text-align: center;
}

.btn-quantity-holder {
    --background: transparent;
    --border-radius: 50%;
    width: 35px;
    height: 35px;
    color: black;
    font-size: 7px;
    font-weight: 800;
}

.similar-gift-list {
    img {
        width: 50%;
        height: 50%;
    }

    ion-card-subtitle {
        font-family: 'Nunito';
    }

    h6 {
        font-size: 15px;
        font-family: 'Nunito';
    }
}