ion-card-title {
    font-size: 14px;
    font-family: 'Nunito';
}

ion-searchbar {
    --icon-color: #0083b0;
    --border-radius: 10px;
    padding: 5px;
}

ion-toolbar {
    --padding-bottom: 15px;
}