<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="favorite">
      <ion-icon name="heart-circle"></ion-icon>
      <ion-label>FAVORITE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label><strong>HOME</strong></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>